body {
  max-height: 99%;
  background-color: #f7f7f7;
}

.pull-to-bottom {
  position: absolute;
  bottom: 0;
  margin-top: 2px;
  height: 34%;
  width: 100%;
  overflow: hidden;
  border: solid 1px #E8E6E6;
  background-color: #FBFBFB;
}

h2 {
  text-align: center;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}
