.horizontal-movie-item-container {
  overflow-x: scroll;
  white-space: nowrap;
  width: 100%;
  background-color: #FBFBFB;
  padding: 10px;
  border: solid 1px #E8E6E6;
  height: 200px;
  display: block;

}

.horizontal-movie-item-container > li {
  display: inline-block;
  list-style-type: none;
  padding-right: 20px;
}

.horizontal-movie-item-container > li > .movieitem {
  height: 80%;
}
