@import "../foundation/foundation/components/global";

.vertical-movie-item-container {
  padding: 5px;
  min-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  @include single-transition(background-color);

  &.is-over {
    background-color: #f4f4f4;
  }
}
